<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">Brian Lubars</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>Contact</li>
          <li>[firstname].[lastname]@colorado.edu</li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          <li>
            <a href="https://linkedin.com/in/brian-lubars" target="_blank">
              <img src="{{ '/assets/icons/logo-linkedin-24.png' | prepend: site.baseurl }}" />
            </a>

            <a href="https://instagram.com/blubars" target="_blank">
              <img src="{{ '/assets/icons/logo-insta-24.png' | prepend: site.baseurl }}" />
            </a>

          {% if site.github_username %}
            <a href="https://github.com/{{ site.github_username }}" target="_blank">
              <img src="{{ '/assets/icons/logo-github-24.png' | prepend: site.baseurl }}" />

            </a>
          {% endif %}

          {% if site.twitter_username %}
            <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
              <img src="{{ '/assets/icons/logo-twitter-24.png' | prepend: site.baseurl }}" />
            </a>
          {% endif %}

          </li>


        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
        <p class="text">Site last updated: {{ site.time }}</p>
      </div>
    </div>

  </div>

</footer>
